#html{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuh0pPooC5A2vhgARgYP23WQFYFl_Gve7Nlw&usqp=CAU);
    background-size: 100% 100%;
    flex: auto;
    flex-direction: column;
    justify-content: stretch;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    color: white;
   
}
#header {
    
    color: white;
    display: flex;
    justify-content: center;
    font-size:75px;
    flexwrap:wrap;
    flex-direction: column;
    align-content: stretch;
    align-items: center;

   
}
img {
    block-size:500px;
    position: relative;
    bottom:100px;
    border: solid;
    border-weight: 10px;
}

#h1 {
    background-color: orange;
    color:white;
    list-style: square;
    border: solid;
    border-style: double;
    border-width: 10px;
    font-size: xx-large;
    padding: 70px;
    justify-content: space-between;
    display: flex;
    opacity: 100%;
    align-content: center;
    flex-direction: column;
}
#h2 {
    justify-content: center;
    background-color: orange;
    color: white;
    font-weight: 200;
    border-width: 10px;
    border: solid;
    border-style: double;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-align: center
    font-size: large;
    align-content: center;
    align-items: center;
    font-style: italic;
    
}
